[Unit]
Description=Gunicorn instance for the ToDo App (Ansible Deployed)
After=network.target

[Service]
# Usa o usuário definido na variável app_user do playbook
User={{ app_user }}
Group={{ app_user }} 

# Diretório de trabalho do projeto (Corrigido para usar a variável app_dir)
WorkingDirectory={{ app_dir }}

# O comando que o systemd executará. 
# Usa os caminhos definidos no playbook.
ExecStart={{ app_dir }}/{{ venv_name }}/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 app:app

# Reinicialização em caso de falha
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target