[Unit]
Description=Gunicorn instance for the ToDo App (Ansible Deployed)
After=network.target

[Service]
# Usa o usuário e grupo definidos no playbook (todo_app_user)
User={{ app_user }}
Group={{ app_user }} 

# Diretório de trabalho do projeto: /opt/todo_app
WorkingDirectory={{ app_dir }}

# O comando que o systemd executará. Ele usa o ponto de entrada definido no playbook (app:app)
ExecStart={{ app_dir }}/{{ venv_name }}/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 {{ gunicorn_entry_point }}

# Reinicialização em caso de falha
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target